//////////////////////////////////////////////////////////////////////////////////
// Company: 
// Engineer:       Letuchiy Sergey
// 
// Create Date:    21:57:11 24/03/2022 
// Design Name:    Clock FPGA
// Module Name:    Pin Order
// Project Name:   Simple clock solution
// Target Devices: GW1N-LV1QN48C6/I5
// Tool versions: 
// Description:    Try to create clock.
//
// Dependencies:   none
//
// Revision:       2.0.2.1
// Revision 0.31 - File Created
// Additional Comments: N/A
//
//////////////////////////////////////////////////////////////////////////////////
IO_LOC "clk" 35;
IO_PORT "clk" IO_TYPE=LVTTL33 PULL_MODE=UP;

IO_LOC "OUTCR[3]" 38;
IO_PORT "OUTCR[3]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "OUTCR[2]" 39;
IO_PORT "OUTCR[2]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "OUTCR[1]" 40;
IO_PORT "OUTCR[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "OUTCR[0]" 41;
IO_PORT "OUTCR[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

IO_LOC "OUTCR[11]" 42;
IO_PORT "OUTCR[11]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "OUTCR[10]" 43;
IO_PORT "OUTCR[10]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "OUTCR[9]" 44;
IO_PORT "OUTCR[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "OUTCR[8]" 45;
IO_PORT "OUTCR[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "OUTCR[7]" 46;
IO_PORT "OUTCR[7]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "OUTCR[6]" 11;
IO_PORT "OUTCR[6]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "OUTCR[5]" 13;
IO_PORT "OUTCR[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "OUTCR[4]" 14;
IO_PORT "OUTCR[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "OUTCR[13]" 20;
IO_PORT "OUTCR[13]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "OUTCR[12]" 21;
IO_PORT "OUTCR[12]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;

IO_LOC "BUT1" 22;
IO_PORT "BUT1" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "BUT2" 23;
IO_PORT "BUT2" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "swch[0]" 24;
IO_PORT "swch[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "swch[1]" 27;
IO_PORT "swch[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
