//! **************************************************************************
// Written by: Map P.20131013 on Mon Nov 26 12:10:35 2018
//! **************************************************************************

SCHEMATIC START;
COMP "OUTCR<0>" LOCATE = SITE "P66" LEVEL 1;
COMP "OUTCR<1>" LOCATE = SITE "P74" LEVEL 1;
COMP "OUTCR<2>" LOCATE = SITE "P67" LEVEL 1;
COMP "OUTCR<3>" LOCATE = SITE "P75" LEVEL 1;
COMP "OUTCR<4>" LOCATE = SITE "P84" LEVEL 1;
COMP "OUTCR<5>" LOCATE = SITE "P78" LEVEL 1;
COMP "OUTCR<6>" LOCATE = SITE "P81" LEVEL 1;
COMP "OUTCR<7>" LOCATE = SITE "P82" LEVEL 1;
COMP "OUTCR<8>" LOCATE = SITE "P83" LEVEL 1;
COMP "OUTCR<9>" LOCATE = SITE "P79" LEVEL 1;
COMP "clk" LOCATE = SITE "P56" LEVEL 1;
COMP "OUTCR<10>" LOCATE = SITE "P80" LEVEL 1;
COMP "OUTCR<11>" LOCATE = SITE "P85" LEVEL 1;
COMP "OUTCR<12>" LOCATE = SITE "P95" LEVEL 1;
COMP "OUTCR<13>" LOCATE = SITE "P11" LEVEL 1;
COMP "OUTCR<14>" LOCATE = SITE "P98" LEVEL 1;
COMP "OUTCR<15>" LOCATE = SITE "P97" LEVEL 1;
COMP "BUT1" LOCATE = SITE "P16" LEVEL 1;
COMP "BUT2" LOCATE = SITE "P17" LEVEL 1;
COMP "swch<0>" LOCATE = SITE "P15" LEVEL 1;
COMP "swch<1>" LOCATE = SITE "P21" LEVEL 1;
SCHEMATIC END;

