NET "clk"  LOC = P56;

NET "OUTCR[3]" LOC =  P75;
NET "OUTCR[2]" LOC =  P67;
NET "OUTCR[1]" LOC =  P74;
NET "OUTCR[0]" LOC =  P66;

NET "OUTCR[15]" LOC =  P97;
NET "OUTCR[14]" LOC =  P98;
NET "OUTCR[13]" LOC =  P11;
NET "OUTCR[12]" LOC =  P95;


NET "BUT1" LOC =  P16;
NET "BUT2" LOC =  P17;

NET "swch[0]" LOC =  P15;
NET "swch[1]" LOC =  P21;

NET "OUTCR[11]" LOC = P85;

NET "OUTCR[10]" LOC = P80;
NET "OUTCR[9]" LOC =  P79;
NET "OUTCR[8]" LOC =  P83;
NET "OUTCR[7]" LOC =  P82;
NET "OUTCR[6]" LOC =  P81;
NET "OUTCR[5]" LOC =  P78;
NET "OUTCR[4]" LOC =  P84;

#NET "DYNSTP[10]" LOC =  P80;
#NET "DYNSTP[9]" LOC =  P79;
#NET "DYNSTP[8]" LOC =  P83;
#NET "DYNSTP[7]" LOC =  P82;
#NET "DYNSTP[6]" LOC =  P81;
#NET "DYNSTP[5]" LOC =  P78;
#NET "DYNSTP[4]" LOC =  P84;
